{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub Presence",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}/issues": {
      "post": {
        "operationId": "create_issue",
        "summary": "Open a GitHub issue announcing or logging an update.",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "title"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "Issue title."
                  },
                  "body": {
                    "type": "string",
                    "maxLength": 65536,
                    "description": "Issue body (Markdown)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issue created."
          }
        }
      }
    }
  }
}